    <tr>
      <td><%= link_to vendor.name, vendor %></td>
      <td><%= vendor.contact %></td>
      <td><%= vendor.phone %></td>
      <td><%= vendor.email %></td>
      <td><%= link_to "Stand", vendor.stand %></td>
    </tr>
