
<% content_for :title, I18n.t("vendor.header.edit") %>
      <span>
        <a href="<%= vendors_path %>" title="Zur체ck">
        <i class="bi bi-arrow-left-circle"></i>
      </a>
    </span>
<div class="container mt-4">

<h1><%=I18n.t("vendor.header.edit") %></h1>

<%= render "form", vendor: @vendor %>

<br>

<div>
  <%= link_to I18n.t("vendor.actions.show"), @vendor %> |
  <%= link_to "Zur체ck zur H채ndler체bersicht", vendors_path %>
</div>
</div>
