<% content_for :title, I18n.t("vendor.header.edit") %>
      <span>
        <a href="<%= vendors_path %>" title="Bearbeiten">
        <i class="bi bi-pencil"></i>
      </a>
    </span>

<h1><%=I18n.t("vendor.header.edit") %></h1>

<%= render "form", vendor: @vendor %>

<br>

<div>
  <%= link_to "Diesen H채ndler anzeigen", @vendor %> |
  <%= link_to "Zur체ck zur H채ndler체bersicht", vendors_path %>
</div>
