<% content_for :title, "Händler" %>

<div class="container mt-4">

<div id="vendors">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Angemeldete Händler für den Sonntagsmarkt</h2>
      <p class="card-text">Hier finden Sie alle Händler, die an der Veranstaltung teilnehmen.</p>
      <%= link_to "Neuen Händler anlegen", new_vendor_path, class: "btn btn-primary btn-lg m-3 text-decoration-none text-secondary" %>
<table class="table">
  <thead>
  <tr>
    <th><%= Vendor.human_attribute_name("name")%></th>
    <th><%= Vendor.human_attribute_name("contact")%></th>
    <th><%= Vendor.human_attribute_name("phone")%></th>
    <th><%= Vendor.human_attribute_name("email")%></th>
    <th>Stand</th>
  </thead>
  <tbody class="table-group-divider">
  <% @vendors.each do |vendor| %>
    <%= render vendor %>
  <% end %>
    </tbody>
</table>
    </div>
  </div>
</div>
