<%= simple_form_for stand, html: { class: 'form-horizontal'} do |form| %>
  <% if stand.errors.any? %>
     <div class="alert alert-danger">
      <ul>
        <% stand.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="m-4">
  <%= form.input :width, input_html: {class: 'form-control'}%>
  <%= form.input :height, input_html: {class: 'form-control'}%>
  <%= form.input :depth, input_html: {class: 'form-control'}%>
  <%= form.input :diameter, input_html: {class: 'form-control'}%>
  <%= form.input :description, as: :text, placeholder: I18n.t("stand.form.placeholder.description"), input_html: {class: 'form-control', rows: 5} %>
  <%= form.input :cooler, input_html: {class: 'form-control'}%>
  <%= form.input :table, input_html: {class: 'form-control'}%>
  <%= form.input :selfdriver, input_html: {class: 'form-check-input', style: 'width: 1.5rem; height: 1.5rem'}, label_html: {style: 'margin-left: 1rem'} %>
  <%= form.input :trailer, input_html: {class: 'form-check-input', style: 'width: 1.5rem; height: 1.5rem'}, label_html: {style: 'margin-left: 1rem;'} %>
  <%= form.input :power, input_html: {class: 'form-check-input', style: 'width: 1.5rem; height: 1.5rem'}, label_html: {style: 'margin-left: 1rem;'} %>
  <%= form.input :specials, input_html: {class: 'form-control'}%>
  <%= form.input :misc, input_html: {class: 'form-control'}%>
  <%= form.hidden_field :vendor_id %>

  <div>
    <%= form.button :submit, "Speichern", class: "btn btn-primary mt-3" %>
  </div>
</div>
<% end %>
