<%= simple_form_for stand, html: { class: 'form-horizontal'} do |form| %>
  <% if stand.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(stand.errors.count, "error") %> prohibited this stand from being saved:</h2>

      <ul>
        <% stand.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="m-3">
  <%= form.input :width, input_html: {class: 'form-control'}%>
  <%= form.input :height, input_html: {class: 'form-control'}%>
  <%= form.input :depth, input_html: {class: 'form-control'}%>
  <%= form.input :diameter, input_html: {class: 'form-control'}%>
  <%= form.input :description, as: :text, placeholder: 'Was wollen Sie auf dem Sonntagsmarkt anbieten? z.B. Sind Sie Selbsterzeuger? Welche Artikel
kaufen Sie zu? Bei Imbissbetrieben: Welche Artikel genau wollen sie anbieten?', input_html: {class: 'form-control', rows: 5} %>
  <%= form.input :cooler, input_html: {class: 'form-control'}%>
  <%= form.input :table, input_html: {class: 'form-control'}%>
  <%= form.input :selfdriver, input_html: {class: 'form-check-input', style: 'width: 1.5rem; height: 1.5rem'}, label_html: {style: 'margin-left: 1rem'} %>
  <%= form.input :trailer, input_html: {class: 'form-check-input', style: 'width: 1.5rem; height: 1.5rem'}, label_html: {style: 'margin-left: 1rem;'} %>
  <%= form.input :power, input_html: {class: 'form-check-input', style: 'width: 1.5rem; height: 1.5rem'}, label_html: {style: 'margin-left: 1rem;'} %>
  <%= form.input :specials, input_html: {class: 'form-control'}%>
  <%= form.input :misc, input_html: {class: 'form-control'}%>
  <%= form.hidden_field :vendor_id %>

  <div>
    <%= form.submit %>
  </div>
</div>
<% end %>
