<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Sonntagsmarkt" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="turbo-refresh-method" content="morph">
    <meta name="turbo-refresh-scroll" content="preserve">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'favicon.ico', type: 'image/png' %>
    <% if content_for? :head %>
      <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
      <%= yield :head %>
    <% end %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-bs-theme="light">
    <%= render "layouts/nav" if authenticated?%>

    <% if notice.present? %>
      <p class="alert alert-success" role="alert"><%= notice %></p>
    <% end %>

    <%= yield %>
    
    <%= render "layouts/footer"%>
  </body>
</html>
